{% extends "base.html" %}
{% load humanize %}
{% load league_filters %}
{% block body %}
    {% block herounit %}
        <div class="hero-unit">
            <h1>{{ league.name }}</h1>
            <h3><span class="muted">{{ league.short_description }}</span></h3>
        </div>
    {% endblock %}
    {% block content %}
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url "league" league.id %}">Home</a></li>
            <li><a href="{% url "seasons" league.id %}">Seasons</a></li>
        </ul>
        <div class="span8">
        <h2>Current Season</h2>
            <h3 class="muted">{{ league.season_set.latest.name }} ({{ league.season_set.latest.start_date|date }} to {{ league.season_set.latest.end_date|date }})</h3>
            {% include "season_standings.html" %}
        </div>
    {% endblock %}
    {% block sidebar %}
        <div class="span4">
            <h3>League Info</h3>
            <small class="muted">Commissioner: </small><p>{{ league.commissioner.username }}</p>
            <small class="muted">Description:</small><p>{{ league.long_description }}</p>
        </div>
    {% endblock %}
{% endblock %}