{% extends "league.html" %}
{% load humanize %}
{% load league_filters %}
{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{% url "league" season.league.id %}">Home</a></li>
        <li><a href="{% url "seasons" season.league.id %}">Seasons</a></li>
    </ul>
    <div class="span8">
        <ul class="breadcrumb"><li><a href="{% url "seasons" season.league.id %}">Seasons</a><span class="divider">&gt;</span></li><li>{{ season.name }}</li></ul>
        <h2>{{ season.name }}</h2>
        {% include "season_standings.html" %}
    </div>
{% endblock %}
{% block sidebar %}
    <div class="span4">
        <h3>Season Info</h3>
        <small class="muted">Start Date: </small><p>{{ season.start_date|date }}</p>
        <small class="muted">End Date:</small><p>{{ season.end_date|date }}</p>
        {% include "season_info.html" %}
    </div>
{% endblock %}