{% extends "league.html" %}
{% load humanize %}
{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{% url "league" league.id %}">Home</a></li>
        <li class="active"><a href="{% url "seasons" league.id %}">Seasons</a></li>
	</ul>
    <div class="span8">
    <h2>Seasons</h2>
    {% for season in league.season_set.all %}
        <h4><a href="{% url "season" season.id %}">{{ season.name }}</a> ({{ season.start_date|date }} to {{ season.end_date|date }})</h4>
            <ul>
                {% for division in season.division_set.all %}
                    <li>{{ division.name }} <div class="muted">{% if season.has_ended %}Winner{% else %}Leader{% endif %}: {{ division.get_leader.owner.username }}</div><div class="muted">${{ division.get_leader.get_team_value|intcomma }}</div>
                    </li>
                {% endfor %}
            </ul>
    {% endfor %}
    </div>
{% endblock %}